<!DOCTYPE html>
<html>
<head>
<title>USER PROFILE</title>

<style type="text/css">
.user_profile{
    
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
}
.user_profile ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.user_profile ul li{
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}
.user_profile button{
    margin: 45px 0 30px 0;
    height: 40px;
    width: 250px;
    font-size: 20px;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: #1A237E;
    border-radius: 3px;
    border: 1px solid #3949AB;
    transition: .5s;
}
.user_profile button:hover{
    background: #151c6a;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  transition: .5s;
}

a:hover {
  background-color: #FAFAFA;
  color: red;
}
.previous {
  
  color: black;
  outline: none;
  cursor: pointer;
  border-radius: 1px;
  border: 1px solid #3949AB;
}
.logout{
  float: right;  
  color: black;
  outline: none;
  cursor: pointer;
  border-radius: 1px;
  border: 1px solid #3949AB;    
}    
</style>

</head>

<body>
<div class = "profile">

<form class = "user_profile" action = "/savedetails" autocomplete = "on" method="post" name = "form">
    {{ form.csrf_token }}
    <a href = "/home.html" class = "previous">&laquo; Back</a>
    <a href = "/" class = "logout">Logout</a>
    <hr style = "border: 2px solid gray;"/>
    <h2>Employee's Personal Information</h2>
    <ul>                        
    <li>
        <b>{{form.EmployeeID.label}}</b>
        &nbsp{{form.EmployeeID}}
    </li> 

    <li>
        <b>{{form.FirstName.label}}&nbsp&nbsp</b>
        &nbsp&nbsp{{form.FirstName}}
    
        <b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.MiddleName.label}}</b>
        &nbsp{{form.MiddleName}}
    
        <b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.LastName.label}}</b>
        {{form.LastName}}
    </li> 
    <li>
        <b>{{form.FatherName.label}}</b>
        &nbsp{{form.FatherName}}

        <b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.MotherName.label}}</b>
        {{form.MotherName}}
    </li> 
    <li>
        <b>{{form.DOB.label}}</b>
        {{form.DOB}}
    </li>
    <li>
        <b>{{form.Gender.label}}<br></b>
        {{form.Gender}}
   
        <b>{{form.MaritialStatus.label}}<br></b>
        {{form.MaritialStatus}}
    </li> 
    <hr style = "border: 2px solid gray;"/>
    <h2>Employee's Contact Information</h2><!--             heading           -->
    <li>
        <b>{{form.PermanentAddress.label}}</b>
        {{form.PermanentAddress(size = 45)}}
    
        <b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.City1.label}}</b>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.City1}}<br><br>
    
        <b>{{form.Pincode1.label}}&nbsp&nbsp</b>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.Pincode1}}
    
        <b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.Country1.label}}</b>
        {{form.Country1}}
        <br>
        <br>
    </li>   
    <li>
        <b>{{form.LocalAddress.label}}&nbsp&nbsp</b>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.LocalAddress(size = 45)}}
    
        <b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.City2.label}}</b>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.City2}}<br><br>
    
        <b>{{form.Pincode2.label}}&nbsp&nbsp</b>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.Pincode2}}
    
        <b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.Country2.label}}</b>
        {{form.Country2}}
        <br>
        <br>
    </li>   
   
    <li>
        <b>{{form.EmailAddress.label}}&nbsp</b>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.EmailAddress}}
        {% if form.EmailAddress.errors %}
        <ul class="errors">
                {% for error in form.EmailAddress.errors %}
                    <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </li>
    
    <li>
        <b>{{form.ContactNumber1.label}}</b>
        {{form.ContactNumber1}}
        {% if form.ContactNumber1.errors %}
        <ul class="errors">
                {% for error in form.ContactNumber1.errors %}
                    <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
        <b>{{form.ContactNumber2.label}}</b>
        {{form.ContactNumber2}}
        {% if form.ContactNumber2.errors %}
        <ul class="errors">
                {% for error in form.ContactNumber2.errors %}
                    <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </li>
    <hr style = "border: 2px solid gray;"/>
    <h2> Family Relation Details </h2>
    <li>
        <b>{{form.FamilyPersonsName1.label}}</b>
        {{form.FamilyPersonsName1}}
    
        <b>{{form.FamilyPersonsContactNumber1.label}}</b>
        &nbsp&nbsp&nbsp{{form.FamilyPersonsContactNumber1}}
    
        <b>{{form.FamilyPersonsRelationWithEmployee1.label}}</b>
        &nbsp&nbsp&nbsp{{form.FamilyPersonsRelationWithEmployee1}}
    </li>
    <li>
        <b>{{form.FamilyPersonsName2.label}}</b>
        {{form.FamilyPersonsName2}}
    
        <b>{{form.FamilyPersonsContactNumber2.label}}</b>
        {{form.FamilyPersonsContactNumber2}}
    
        <b>{{form.FamilyPersonsRelationWithEmployee2.label}}</b>
        {{form.FamilyPersonsRelationWithEmployee2}}
    </li>
    <hr style = "border: 2px solid gray;"/>
    <h2>Employee's Documents Information</h2>           <!--        heading       -->
    <li>
        <b>{{form.AadharCard.label}}</b>
        &nbsp&nbsp{{form.AadharCard}}
        {% if form.AadharCard.errors %}
            <ul class="errors">
                    {% for error in form.AadharCard.errors %}
                        <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
    <li>
        <b>{{form.PanCard.label}}</b>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.PanCard}}
        {% if form.PanCard.errors %}
            <ul class="errors">
                    {% for error in form.PanCard.errors %}
                        <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
    <hr style = "border: 2px solid gray;"/>
    <h2>Employee's Educational Information</h2>           <!--        heading       -->
    <li>
        <b>{{form.EductionalCourseDetail.label}}</b>
        &nbsp&nbsp&nbsp&nbsp&nbsp{{form.EductionalCourseDetail}}
    
        <b>&nbsp&nbsp&nbsp&nbsp&nbsp{{form.PassingYear.label}}</b>
        &nbsp&nbsp&nbsp{{form.PassingYear}}
    
        <b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.PassingStatus.label}}</b>
        &nbsp&nbsp&nbsp&nbsp&nbsp{{form.PassingStatus}}
    </li>
    <hr style = "border: 2px solid gray;"/>
    <h2> PF Nominee Details </h2>
    <li>
        <b>{{form.PFNomineeName.label}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</b>
        {{form.PFNomineeName}}
    
        <b>&nbsp&nbsp&nbsp&nbsp&nbsp{{form.PFNomineeRelation.label}}</b>
        {{form.PFNomineeRelation}}
    
        <b>{{form.PFNomineeDOB.label}}</b>
        {{form.PFNomineeDOB}}
    </li>
    <hr style = "border: 2px solid gray;"/>
    <h3> Date of Joining and Date of Resigning </h3>
    <li>
        <b>{{form.DateOfJoining.label}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</b>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.DateOfJoining}}
    
       <b>&nbsp&nbsp&nbsp&nbsp&nbsp{{form.DateOfResigning.label}}</b>
        &nbsp&nbsp&nbsp&nbsp&nbsp{{form.DateOfResigning}}
    </li>
    <hr style = "border: 2px solid gray;"/>
    <h2>Employee's Bank Account Details</h2>           <!--        heading       -->
    <h3> Primary Account Details </h3>
    <li>
        <li>
        <b>{{form.AccountNumber1.label}}&nbsp</b>
        &nbsp&nbsp&nbsp&nbsp&nbsp{{form.AccountNumber1}}
        {% if form.AccountNumber1.errors %}
        <p class="errors">
                {% for error in form.AccountNumber1.errors %}
                    {{ error }}
            {% endfor %}
        </p>
    {% endif %}
    
        <b>{{form.IFSCcode1.label}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</b>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.IFSCcode1}}
    
        <b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.BankName1.label}}</b>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.BankName1}}
    
        <b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.AccountType1.label}}</b>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.AccountType1}}
    </li>
    <li>
        <b>{{form.AccountHolderName1.label}}</b>
        {{form.AccountHolderName1}}
    </li>
    <!-------------------------------------------------------------------------------------------->
    <h3> Secondary Account Details </h3>
        <li>
        <b>{{form.AccountNumber2.label}}&nbsp</b>
        &nbsp&nbsp&nbsp&nbsp&nbsp{{form.AccountNumber2}}
        {% if form.AccountNumber2.errors %}
        <p class="errors">
                {% for error in form.AccountNumber2.errors %}
                    {{ error }}
            {% endfor %}
        </p>
    {% endif %}
    
        <b>{{form.IFSCcode2.label}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</b>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.IFSCcode2}}
    
        <b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.BankName2.label}}</b>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.BankName2}}
    
        <b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.AccountType2.label}}</b>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.AccountType2}}
    </li>
    <li>
        <b>{{form.AccountHolderName2.label}}</b>
        {{form.AccountHolderName2}}
   </li> 
   <hr style = "border: 2px solid gray;"/>
   <h3> Other Details </h3>
    <li>
        <b>{{form.TakionID.label}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</b>
        {{form.TakionID}}
    </li>
    <li>
        <b>{{form.StartingBalance.label}}</b>
        {{form.StartingBalance}}
    </li>
    <li>
        <b>{{form.PolicyNumber.label}}</b>
        {{form.PolicyNumber}}
    </li>
    <li>
        <b>{{form.CarryForwardBalance.label}}</b>
        {{form.CarryForwardBalance}}
    </li>
    <li>
        <b>{{form.RateOfDollar.label}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</b>
        {{form.RateOfDollar}}
    </li>
    <hr style = "border: 2px solid gray;"/>
</ul>
    <script>
        function myFunction() {
        confirm("Successfully Submitted!");
    }
</script>
    <button onclick = "myFunction()" value = {{form.submit()}} >Submit</button>
    <button type = "button" onClick = "window.print()">Print</button>
</form>
</div>
</body>
</html>