*{
	padding: 0;
	margin: 0;

}
body{
	background: url(background.jpg) no-repeat;
	background-size: cover;
	align-items: center;
	justify-content: center;
	display: flex;
	font-family: sans-serif;
}
.profile{
	position: relative;
	margin-top: 100px;
	width: auto;
	height: auto;
	background: #dedede;
	border-radius: 5px;
}
.label{
	padding: 20px 110px;
	font-size: 25px;
	font-weight: bold;
	color: #130f40;
}
.User_profile{
	padding: 10px 80px;
}
.User_profile .font{
	font-size: 18px;
	color: #130f40;
	margin: 8px 0;
}
.User_profile input{
	height: 30px;
	width: 300px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	border: 1.5px solid silver;
}
.User_profile .font2{
	margin-top: 30px;
}
.User_profile button{
	margin: 45px 0 30px 0;
	height: 40px;
	width: 250px;
	font-size: 20px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: #1A237E;
	border-radius: 3px;
	border: 1px solid #3949AB;
	transition: .5s;
}
.User_profile button:hover{
	background: #151c6a;
}  
.User_profile #error{
	margin-top: 5px;
	width: 345px;
	font-size: 18px;
	color: #C62828;	
	background: rgba(255, 0, 0, 0.1);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #EF9A9A;
	display: none;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
  transition: .5s;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  outline: none;
  cursor: pointer;
  border-radius: 1px;
  border: 1px solid #3949AB;
}