{% extends "bootstrap.html" %}
{% block title %}EXCEL ADJUST{% endblock %}
{% block content %}
<center><h1>ADJUST EXCEL ENTRIES</h1></center>

		<form method = "post" name = "form" >	
			<center><p class="font-weight-bold">{{form.Month.label}}</p></center> 
            <center><p >{{form.Month}}</p></center>
            <center><p class="font-weight-bold">{{form.Takionid.label}}</p></center> 
            <center><p>{{form.Takionid}}</p></center>
            <center><p class="font-weight-bold">{{form.Amount.label}}</p></center> 
            <center><p>{{form.Amount}}</p></center>    
			<center><p class="font-weight-bold">{{info}}</p></center>
			<center><button class = "btn btn-primary" value = {{form.submit}} >Submit</button></center>
	    </form>
	    <!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/aadarshjain/GEMSCAP"> DUA TECH SOLUTIONS</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
	{% endblock %}	